
<head>
    <style type="text/css">
        .auto-style1 {
            background-color: #66CCFF;
        }
    </style>
</head>
<div style="margin: 30px">
    <h2>Download<br /></h2>
    <br />
    <br />
    You can download this website using our GitHub.<br />
    <br />
    This Framework is an Open Source Software provided as it is. You can use it at your own risk and responsability. <br/>
    No support will be provided.<br/>
    You can redistribute this framework and include it in your own commercial products. <br/>
    Any change or modification to it must be shared with the community.<br/>
    <br />

   <br/>
    <a href="https://github.com/gvinsot/SilverScript">Go to the GitHub page.</a>


</div>

