<div style="margin: 30px">
   <h1>  <img style="vertical-align:middle; float:left;height:50px"  src="images/logo.png" /><span style="vertical-align:middle; margin-left:20px;height:50px;line-height:50px">
           Get Started.
        </span>
    </h1>
    <br />
    Add the references or download the sample project for TypeScript definitions (Silverscript needs jQuery 2+)<br />
    <a href="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js</a><br />
    <a href="http://silverscript.azurewebsites.net/scripts/silverscript.js">http(s)://silverscript.io/scripts/silverscript.js</a><br />
    <br />
     
    <div style="font-size:large">
        <table>
            <tr>
                <td class="getstarteddivlabel">

        <span style="height:inherit;vertical-align:middle; display:inline-block;">Set the datacontext </span>

                </td>
                <td>
                    <div class="getstarteddivcode">
            &lt;div id=&quot;testDiv&quot; data-context=&quot;/api/mycontroller&quot;&gt;<br />
&nbsp;&nbsp;&nbsp; ...<br />
                        &lt;/div&gt;
                        <br />
            <br />
                        <em>or<br />
                        </em><br/>
            &lt;div id=&quot;testDiv&quot; data-context=&quot;http://www.mywebsite.com/myobject.json&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ...<br />
                        &lt;/div&gt;
            <br />
                        <em>
                        <br />
            or</em><br />
                        <br />
            $(&#39;testDiv&#39;)[&quot;data-context-value&quot;]=myObject;<br />
    </div>
                </td>                
            </tr>

            <tr>
                <td class="getstarteddivlabel">
                   Bind OneTime<br />
                  (default)
                </td>
                <td>
         <div class="getstarteddivcode">
            &lt;span data-binding=&quot;{Path=name,Destination=Content}&quot;&gt; 
             <br />
             &lt;/span&gt;
            <br />
             <em>
             <br />
            or</em><br />
             <br />
            &lt;a href=&quot;blank&quot; data-binding=&quot;{Path=name,Destination=href}&quot;&gt; 
             <br />
             My dynamic link <br />
             &lt;/a&gt;
        </div>

                </td>
            </tr>
             <tr>
                <td class="getstarteddivlabel">

    OneWay Binding

                </td>
                <td>
                     <div class="getstarteddivcode">


            &lt;span data-binding=&quot;{Path=name,Destination=Content,Mode=OneWay}&quot;&gt; 
                         <br />
                         &lt;/span&gt;
                         <br />
                         <br />
                         Important remark: a PropertyChanged property will automatically be added to the datacontext object and the binding will update in case the PropertyChanged event is raised on this object.</div>
                </td>
            </tr>
            <tr>
                <td class="getstarteddivlabel">
TwoWay Binding
                </td>
                <td>
                    
                     <div class="getstarteddivcode">


            &lt;input type=&quot;text&quot; data-binding=&quot;{Path=name,Destination=Content,Mode=TwoWay}&quot; &gt; 
                         <br />
                         &lt;/input&gt;


                     </div>
                </td>
            </tr>
            <tr>
                <td class="getstarteddivlabel">

    Data templates for items lists<br />

                </td>
                <td>
                     <div class="getstarteddivcode">


                         &lt;table style=&quot;width:100%&quot; data-source=&quot;/viewmodels/Test&quot; data-template=&quot;/views/item.html&quot;&gt; 
                         <br />
                         &lt;/table&gt;<br />
                         <br />
                         <span style="color:black"><em>And template (item.html):</em></span><br />
                         <br />
                         &lt;tr&gt;
                         <br />
                         &lt;td data-binding=&quot;{Path=FirstName,Destination=Content}&quot;&gt;&lt;/td&gt; <br />
                         &lt;td data-binding=&quot;{Path=LastName,Destination=Content}&quot;&gt;&lt;/td&gt;<br />
&nbsp;&lt;/tr&gt;</div>

                </td>
            </tr>
            <tr>
                <td class="getstarteddivlabel">

                    Converters<br />

                </td>
                <td>
                     <div class="getstarteddivcode">                         
            &lt;span data-binding=&quot;{Path=name,Destination=Content,Converter=MyMethod,ConverterParameter=myparameter}&quot;&gt;
                         <br />
                         &lt;/span&gt;
                         <br />
                        <br />
                         <span style="color:black"> <em>MyMethod will be called with parameters : MyMethod(valueToConvert,&#39;myparameter&#39;)</em></span>
                             
                             </div>
                        
                </td>
            </tr>
           <tr>
                <td class="getstarteddivlabel">

                    Bind to another element<br />

                </td>
                <td>
                     <div class="getstarteddivcode">


            &lt;span data-binding=&quot;{Path=name,Destination=Content,ElementName=IdOfAnotherDiv}&quot;&gt; &lt;/span&gt;


                     </div>

                </td>
            </tr>

            <tr>
                <td class="getstarteddivlabel">

                    Multiple bindings<br />

                </td>
                <td>
                     <div class="getstarteddivcode">


            &lt;a href=&quot;blank&quot; data-binding=&quot;{Path=link,Destination=href}{Path=label,Destination=Content}&quot;&gt; &lt;/a&gt;</div>

                </td>
            </tr>
            <tr>
                <td class="getstarteddivlabel">

                    Code your own ViewModel

                </td>
                <td>
                     <div class="getstarteddivcode">


                         <em>You can create a json object and add it a PropertyChanged property of type EventHandler.<br />
                         You can call yourobject.PropertyChanged.FireEvent(&quot;myPropertyName&quot;) to raise the PropertyChanged event and update all bindings referencing this property.</em></div>

                </td>
            </tr>

        </table>
        </div>
    
</div>