
<head>
    <style type="text/css">
        .auto-style1 {
            background-color: #66CCFF;
        }
    </style>
</head>
<div style="margin: 30px">
<h2>Test Page<br/></h2>
<br/>
    <br />
    Apply a template from a json source sending 1000 objects.<br />
    <br />
    <span class="auto-style1"><strong><em>&lt;div data-source=&quot;/services/Test&quot; data-template=&quot;/views/item.html&quot;&gt; &lt;/div&gt;
    <br />
    <br />
    </em></strong></span>
    <br class="auto-style1" />
    Result :<br />
    <br />
    <div data-source="/services/Test" data-template="/views/item.html">

    </div>
    
</div>

