<div style="margin: 30px">
    <h1>Test Page<br />
    </h1>
    <br />
    <br />
    Test two way binding to update objects.<br />
    <div class="getstarteddivcode">
        To come...
    </div>

    <br />

    <br />
    <div data-context="/viewmodels/Test2">

        <div data-context="{Binding Path=[0]}">
            Change first user:
         <input type="text" data-binding="{Binding Path=FirstName,Mode=TwoWay,Destination=value}" style="width: 300px; height: 30px; border: 1px solid lightgray; outline: 1px solid lightgray" value="" />

        </div>
        <br />

        <table style="width: 100%" data-source="{Binding}" data-template="/views/itemOneWay.html">
        </table>
        <br />
        <br />

        <br />
        Selected :
        <br />
        <div id="SelectedItem">
            <span data-binding="{Binding Path=FirstName,Destination=Content,Mode=OneWay}"></span>
            <br />
            <span data-binding="{Binding Path=LastName,Destination=Content,Mode=OneWay}"></span>
            <br />
            <span data-binding="{Binding Path=Address,Destination=Content,Mode=OneWay}"></span>
            <br />
            <span data-binding="{Binding Path=Age,Destination=Content,Mode=OneWay}"></span>
            <br />
            <br />
            Children :<br />
            <br />
            <table style="width: 100%" data-source="{Binding Path=Children}" data-template="/views/childOneWay.html">
            </table>
        </div>
        <br />
        <br />
        <br />
                Selected child :<br />
        <br />
        <div id="SelectedItem2">
            <span data-binding="{Binding Path=FirstName,Destination=Content,Mode=OneWay}"></span>
            <br />
            <span data-binding="{Binding Path=LastName,Destination=Content,Mode=OneWay}"></span>
            <br />
            <span data-binding="{Binding Path=Address,Destination=Content,Mode=OneWay}"></span>
            <br />
            <span data-binding="{Binding Path=Age,Destination=Content,Mode=OneWay}"></span>
            <br />
        </div>

    </div>
</div>

