
<head>
    <style type="text/css">
        .auto-style1 {
            background-color: #AADDFF;
        }
    </style>
</head>
<div style="margin: 30px">
<h2>Test Page<br/></h2>
<br/>
    <br />
    Apply a template from a json source sending 1000 objects.<br />
    <br />
    <span class="auto-style1"><em>&lt;div data-source=&quot;/viewmodels/Test&quot; data-template=&quot;/views/item.html&quot;&gt; &lt;/div&gt;
    <br />
    <br />
    </em></span>
    <br class="auto-style1" />
    Result :<br />
    <br />
    <table style="width:100%" data-source="/viewmodels/Test" data-template="/views/item.html">

    </table>
    
</div>

