<div style="margin: 30px">
<h1>Test Page<br/></h1>
<br/>
    <br />
    Test two way binding to update objects.<br />
    <br />
    <span class="auto-style1">
    <br />
    <br />
    </span>
    
    <br />
    <div data-context="/viewmodels/Test/1">        
        User:
        <input type="text" data-binding="{Binding Path=FirstName,Mode=TwoWay,Destination=value}" style="width: 300px;height:30px;border:1px solid lightgray; outline:1px solid lightgray" value=""/>
        <br />
        <br />
        If you change the text and unfocus the textblock, following binded text will automatically update :<br />
        <br />
        <div style="position:absolute; width: 327px; position:relative" data-binding="{Binding Path=FirstName,Destination=Content,Mode=OneWay}">Binded text</div>        
        <br /> <br />
        And this one too :
        <br />
        <br />
        <div style="position:absolute; width: 327px; position:relative" data-binding="{Binding Path=FirstName,Destination=Content,Mode=OneWay}">Binded text</div>        
        
    </div>
</div>

