
<div style="margin: 30px">
<h1>Test Page<br/></h1>
<br/>
    <br />
    Apply a template from a json source sending 1000 values (250 lines).<br />
    
    <div class="getstarteddivcode">
                         Sample data model (C# model that is serialized to json through  .Net WebApi):<br/>
    <br/>
        public class TestClass<br />
        {<br />
        public string FirstName = "FirstName_" + Path.GetRandomFileName();<br />
        public string LastName = "LastName_"+ Path.GetRandomFileName();<br />
        public string Address = (new Random(DateTime.Now.TimeOfDay.Milliseconds)).Next(200)+"th " + Path.GetRandomFileName() + " street";<br />
        public int Age = (new Random(DateTime.Now.TimeOfDay.Milliseconds)).Next(100);<br />
        }<br />
    <br/>
        <br />
    The view :<br />
                        

                         &lt;table style=&quot;width:100%&quot; data-source=&quot;/viewmodels/Test&quot; data-template=&quot;/views/item.html&quot;&gt; 
                         <br />
                         &lt;/table&gt;<br />
                         <br />
                         <span style="color:black"><em>And template (item.html):</em></span><br />
                         <br />
                         &lt;tr&gt;
                         <br />
                         &lt;td data-binding=&quot;{Binding Path=FirstName,Destination=Content}&quot;&gt;&lt;/td&gt; <br />
                         &lt;td data-binding=&quot;{Binding Path=LastName,Destination=Content}&quot;&gt;&lt;/td&gt;<br />
                         &lt;td data-binding=&quot;{Binding Path=Address,Destination=Content}&quot;&gt;&lt;/td&gt; <br />
                         &lt;td data-binding=&quot;{Binding Path=Age,Destination=Content}&quot;&gt;&lt;/td&gt;<br />

&nbsp;&lt;/tr&gt;</div>

    <br />
    <br />
    Result :<br />
    <br />
    <table style="width:100%" data-source="/viewmodels/Test" data-template="/views/item.html">

    </table>
    
</div>

