
<div style="margin: 30px">
   <h2> <img style="vertical-align:middle; line-height:80px;"  src="../images/logo.png" />
        <span style=" vertical-align:middle;line-height:80px; height:80px;">    
           The javascript framework for XAML developers !       
        </span>
    </h2>
    Discover the easiest way to develop a website extensively using data bindings.
    SilverScript is designed to reduce significantly the need of creating code by connecting 
    your interface directly to data sources and bind it to your UI elements. 
    XAML developers will find it easy to learn using a familiar syntax.<br/>
    <br />
    <br />
    <img style="height:20px;vertical-align:middle" src="../images/silverbullet.jpg" /> <span style="vertical-align:middle;line-height:30px;margin-left:12px"> OneTime, OneWay and TwoWay binding modes</span><br /><br />
    <img style="height:20px;vertical-align:middle" src="../images/silverbullet.jpg" /> <span style="vertical-align:middle;line-height:30px;margin-left:12px"> Data Templates for items lists</span><br /><br />
    <img style="height:20px;vertical-align:middle" src="../images/silverbullet.jpg" /> <span style="vertical-align:middle;line-height:30px;margin-left:12px"> Converters</span><br /><br />
    <img style="height:20px;vertical-align:middle" src="../images/silverbullet.jpg" /> <span style="vertical-align:middle;line-height:30px;margin-left:12px"> Typescript</span><br /><br /><br />
    Many more, and to come...<br /><br />
    <img style="height:20px;vertical-align:middle" src="../images/silverbullet.jpg" /> <span style="vertical-align:middle;line-height:30px;margin-left:12px"> ThreeWay binding to push datacontext updates directly to your back end</span><br /><br />
    <br />    
</div>
